.search {
    cursor: pointer;
    border: none;
    background: none;
    padding: 8px 16px;
}

.search:hover {
    background-color: #f44336;
    color: #fff;
}

.button {
    padding: 8px 16px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 0;
    box-shadow: none;
    appearance: none;
    line-height: 27px;
    text-decoration: none;
}

.button i {
    margin-right: 4px;
}

.button:hover {
    background-color: #ccc;
    color: #000;
}

.button--light {
    color: #000;
    background-color: #f1f1f1;
    text-transform: none;
}