.form__field {
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
}

.form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 16px;
}

.form__row {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    padding-bottom: 8px;
}

.form__row--half {
    flex-basis: calc(50% - 8px);
}

.form .button {
    margin-left: auto;
}